<header>
  <img
    src="#"
    alt="Marcos Fernandes - Foto de Perfil"
    width="130px"
    height="130px"
    loading="eager"
  />
  <h1>Marcos Fernandes</h1>
</header>

<aside>
  <div class="container">
    <p>Full-Stack Spring | .NET | Angular | TypeScript</p>
    <p>Vitoria, Espirito Santo, Brasil</p>
    <p>
      Estou na área de desenvolvimento de software a pouco menos de 1 ano, onde
      tenho procurado adquirir e aperfeiçoar conhecimentos a cada dia
    </p>

    <nav>
      <ul>
        <li>
          <a href="#" target="_blank" class="btn btn-primary">
            Download Cv
          </a>
        </li>
        <li>
          <a href="#" target="_blank" class="btn btn-secondary">
            LinkedIn
          </a>
        </li>
      </ul>
    </nav>

    <section>
      <figure>
        <img src="#" alt="Icone para contato do WhatsApp" width="22px" height="24px"/>
        <figcaption>
          <a href="#" target="_blank">
            <strong>Envie uma mensagem para:</strong>
            <p>WhatsApp: (27) 99761-0790</p>
          </a>
        </figcaption>
      </figure>

      <figure>
        <img src="#" alt="Icone para contato com e-mail" width="22px" height="24px"/>
        <figcaption>
          <a href="#" target="_blank">
            <strong>Envie um e-mail para:</strong>
            <p>marcos.fernandes0324&#64;gmail.com</p>
          </a>
        </figcaption>
      </figure>
    </section>
  </div>
</aside>
